@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Syne+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Pacifico&family=Syne+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Dancing+Script:wght@700&family=Pacifico&family=Syne+Mono&display=swap');

/* ---------------------- header */

header {
    margin: 0;
}

body {
    background: #f0e8ed;
    margin: 0;
}

.navbar-brand {
    font-family: 'Dancing Script', cursive;
    font-size: 5rem;
}

.navbar {
    margin: 0;
}

img {
    height: 10em;
    width: 15em;
    border-radius: 50%;
    margin-top: 1em;
    
}
#navbarSupportedContent li {
    font-family: 'Architects Daughter', cursive;
    font-size: 2rem;
    margin-top: 50px;
}





/* -------------------form */

.form-section {
    background-image: url(../images/bg-form.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
    height: 60vh;
}
.contact-form {
    font-family: 'Architects Daughter', cursive;
    color:honeydew;
    background-color: rgba(22, 19, 19, 0.4);
    border-radius: 10px;
    position: absolute;
    left: 17%;
    top: 30%;
    min-width: 65vw;
    min-height: 42vh;
    line-height: 200%;
}

hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 1.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 2px;
} 

h2 {
    text-align: center;
    padding-top: 25px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 1000;
}

label {
    font-size: 1.3rem;
    margin-left: 3em;
    margin-bottom: 0;
}

.text-input {
    background-color: transparent;
    border: 1.5px solid honeydew;
    margin-left: 3em;
    width: 80%;
    border-radius: 8px;
    height: 3em;
    margin-top: 0; 
}

#message {
    height: 8em;
    width: 90%;
}
#email {
    width: 90%;
}
#form-btn {
    position: absolute;    
    left: 45%;
    top: 110%;
}

/* --------------------- footer */

footer {
    margin: 0;
    background-color: rgb(114, 104, 112);
    color:beige;
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 0;
    min-height: 120px;
   }
.social-links {
    font-size: 1.5em;  
    text-align: center;
    list-style: none;
    padding: 0;
    margin-top: 0.5em;
   }
.social-links li a i {
    color: beige;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
   }
.social-links li {
    display: inline;
    padding: 1em;
}
.social-links li a i:hover {
    color:rgb(92, 40, 40);

}


@media (max-width:375px) {

    img[src$='assets/images/girl.jpg'] {
    visibility: hidden;    
    }

    .contact-form {
    position: absolute;
    left: 10%;
    top: 30%;

    }

}